.cor-titulo{
    background-color: #A9A9A9;
}
.cor-conteudo{
    background-color: #C0C0C0;
}
.text{
    font-family: 'Oswald', sans-serif;
}
.text1{
    font-family: 'Roboto', sans-serif;
}
.logo{
    font-family: 'Noto Serif', serif;
}
.titulo{
    font-family: 'Nunito', sans-serif;
}
.scroll{
    overflow: auto;
}
.centralizar-text{
    text-align: center;
}
.rodape{
    background-color: #808080;
    margin:0;
}
.rodape-st{
    text-align: center;
}
h1{
    text-align: center;
}