.cor-titulo{
    background-color: #A9A9A9;
}
.cor-conteudo{
    background-color: #C0C0C0;
}
.card-personagens{
    object-fit: cover;
}
.scroll{
    overflow: auto;
}
.centralizar-text{
    text-align: center;
}